In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 1.6 MB/s eta 0:00:01     |█████████████▉                  | 4.2 MB 1.7 MB/s eta 0:00:04     |████████████████████▍           | 6.2 MB 1.1 MB/s eta 0:00:04     |██████████████████████▍         | 6.8 MB 1.1 MB/s eta 0:00:03     |██████████████████████████▌     | 8.0 MB 1.1 MB/s eta 0:00:02     |██████████████████████████▊     | 8.1 MB 1.1 MB/s eta 0:00:02   | 8.5 MB 1.1 MB/s eta 0:00:02     |████████████████████████████▊   | 8.7 MB 1.6 MB/s eta 0:00:01     |███████████████████████████████▎| 9.5 MB 1.6 MB/s eta 0:00:017 MB 1.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.2-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 3.6 kB/s eta 0:00:01    |█▍                              | 655 kB 2.2 MB/s eta 0:00:07     |█████████▋                      | 4.6 MB 925 kB/s eta 0:00:12     |████████████▍                   | 5.9 MB 925 kB/s eta 0:00:11
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.2 pandas-1.2.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 312 kB/s eta 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [2]:
print(c)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [3]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='db',
                             user='admin',
                             port=3306,
                             password='admin123',
                             database='covid',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
#     with connection.cursor() as cursor:
#         # Create a new record
#         sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
#         cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

#     # connection is not autocommit by default. So you must commit to save
#     # your changes.
#     connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM `covid_cases_by_region`"
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)

None

In [4]:
import pandas as pd
import io
import requests

In [5]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
content_url=requests.get(url).content
confirmed_dataframe=pd.read_csv(io.StringIO(content_url.decode('utf-8')))

In [6]:
print(confirmed_dataframe)

           UID iso2 iso3  code3     FIPS      Admin2 Province_State  \
0     84001001   US  USA    840   1001.0     Autauga        Alabama
1     84001003   US  USA    840   1003.0     Baldwin        Alabama
2     84001005   US  USA    840   1005.0     Barbour        Alabama
3     84001007   US  USA    840   1007.0        Bibb        Alabama
4     84001009   US  USA    840   1009.0      Blount        Alabama
...        ...  ...  ...    ...      ...         ...            ...
3337  84056039   US  USA    840  56039.0       Teton        Wyoming
3338  84056041   US  USA    840  56041.0       Uinta        Wyoming
3339  84090056   US  USA    840  90056.0  Unassigned        Wyoming
3340  84056043   US  USA    840  56043.0    Washakie        Wyoming
3341  84056045   US  USA    840  56045.0      Weston        Wyoming

     Country_Region        Lat       Long_  ... 4/28/21  4/29/21  4/30/21  \
0                US  32.539527  -86.644082  ...    6890     6897     6904
1                US  30.727750  -87.722071  ...   20897    20921    20941
2                US  31.868263  -85.387129  ...    2298     2299     2300
3                US  32.996421  -87.125115  ...    2591     2593     2594
4                US  33.982109  -86.567906  ...    6595     6607     6613
...             ...        ...         ...  ...     ...      ...      ...
3337             US  43.935225 -110.589080  ...    3729     3730     3732
3338             US  41.287818 -110.547578  ...    2180     2181     2183
3339             US   0.000000    0.000000  ...       0        0        0
3340             US  43.904516 -107.680187  ...     903      903      903
3341             US  43.839612 -104.567488  ...     649      650      650

      5/1/21  5/2/21  5/3/21  5/4/21  5/5/21  5/6/21  5/7/21
0       6907    6909    6910    6910    6914    6914    6918
1      20966   20983   20993   20993   21035   21093   21107
2       2302    2302    2302    2302    2307    2307    2307
3       2596    2596    2597    2597    2604    2604    2604
4       6616    6619    6621    6621    6635    6645    6651
...      ...     ...     ...     ...     ...     ...     ...
3337    3732    3732    3739    3741    3744    3753    3751
3338    2183    2183    2195    2204    2209    2211    2217
3339       0       0       0       0       0       0       0
3340     903     903     906     906     911     911     911
3341     650     650     651     651     651     651     651

[3342 rows x 483 columns]

In [7]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
content_url=requests.get(url).content
deaths_dataframe=pd.read_csv(io.StringIO(content_url.decode('utf-8')))

In [8]:
column_array = confirmed_dataframe.columns

In [11]:
print(confirmed_dataframe['1/22/20'])

0       0
1       0
2       0
3       0
4       0
       ..
3337    0
3338    0
3339    0
3340    0
3341    0
Name: 1/22/20, Length: 3342, dtype: int64

In [9]:
print(len(column_array))

483

In [10]:
print(column_array[0])

UID

In [ ]:
# 0,3,4,5,6 params
# 11-n dates

In [23]:
print(confirmed_dataframe[column_array[0]])

0       84001001
1       84001003
2       84001005
3       84001007
4       84001009
          ...
3337    84056039
3338    84056041
3339    84090056
3340    84056043
3341    84056045
Name: UID, Length: 3342, dtype: int64

In [33]:
df_column_info = confirmed_dataframe[['UID', 'code3', 'FIPS', 'Admin2', 'Province_State']]

In [40]:
df_column_date = confirmed_dataframe.iloc[: , 11:479]

In [43]:
print(df_column_info)

           UID  code3     FIPS      Admin2 Province_State
0     84001001    840   1001.0     Autauga        Alabama
1     84001003    840   1003.0     Baldwin        Alabama
2     84001005    840   1005.0     Barbour        Alabama
3     84001007    840   1007.0        Bibb        Alabama
4     84001009    840   1009.0      Blount        Alabama
...        ...    ...      ...         ...            ...
3337  84056039    840  56039.0       Teton        Wyoming
3338  84056041    840  56041.0       Uinta        Wyoming
3339  84090056    840  90056.0  Unassigned        Wyoming
3340  84056043    840  56043.0    Washakie        Wyoming
3341  84056045    840  56045.0      Weston        Wyoming

[3342 rows x 5 columns]

In [41]:
print(df_column_date)

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
0           0        0        0        0        0        0        0        0
1           0        0        0        0        0        0        0        0
2           0        0        0        0        0        0        0        0
3           0        0        0        0        0        0        0        0
4           0        0        0        0        0        0        0        0
...       ...      ...      ...      ...      ...      ...      ...      ...
3337        0        0        0        0        0        0        0        0
3338        0        0        0        0        0        0        0        0
3339        0        0        0        0        0        0        0        0
3340        0        0        0        0        0        0        0        0
3341        0        0        0        0        0        0        0        0

      1/30/20  1/31/20  ...  4/24/21  4/25/21  4/26/21  4/27/21  4/28/21  \
0           0        0  ...     6876     6879     6882     6889     6890
1           0        0  ...    20838    20847    20863    20875    20897
2           0        0  ...     2296     2296     2296     2297     2298
3           0        0  ...     2582     2584     2584     2588     2591
4           0        0  ...     6570     6571     6574     6581     6595
...       ...      ...  ...      ...      ...      ...      ...      ...
3337        0        0  ...     3719     3719     3724     3725     3729
3338        0        0  ...     2158     2158     2165     2173     2180
3339        0        0  ...        0        0        0        0        0
3340        0        0  ...      898      898      898      901      903
3341        0        0  ...      648      648      648      648      649

      4/29/21  4/30/21  5/1/21  5/2/21  5/3/21
0        6897     6904    6907    6909    6910
1       20921    20941   20966   20983   20993
2        2299     2300    2302    2302    2302
3        2593     2594    2596    2596    2597
4        6607     6613    6616    6619    6621
...       ...      ...     ...     ...     ...
3337     3730     3732    3732    3732    3739
3338     2181     2183    2183    2183    2195
3339        0        0       0       0       0
3340      903      903     903     903     906
3341      650      650     650     650     651

[3342 rows x 468 columns]

In [91]:
final_dataframe = pd.DataFrame(columns=['uid', 'code3', 'fips', 'county', 'state', 'date', 'confirmed'])
# for i in range(5):
#     df = df.append({'A': i, 'B': i}, ignore_index=True)

In [92]:
df_column_info.shape[0]

3342

In [93]:
df_column_date.shape[1]

468

In [94]:
print(df_column_date.shape[1]*df_column_info.shape[0])

1564056

In [ ]:
for i in range(df_column_info.shape[0]):
#     print(df_column_info.iloc[i,:][0])
    for j in range(df_column_date.shape[1]):
        final_dataframe = final_dataframe.append({
            'uid':df_column_info.iloc[i,:][0],
            'code3':df_column_info.iloc[i,:][1],
            'fips':df_column_info.iloc[i,:][2],
            'county':df_column_info.iloc[i,:][3],
            'state':df_column_info.iloc[i,:][4],
            'date':df_column_date.columns[j],
            'confirmed':df_column_date.iloc[i,j]
        },ignore_index=True)

In [85]:
print(final_dataframe.shape)

Empty DataFrame
Columns: [uid, code3, fips, county, state, date, confirmed]
Index: []

In [ ]:
for i in range(3000):
    for j in range(400):
        print(i,j)

In [13]:
new_confirmed_dataframe = pd.melt(confirmed_dataframe, 
     id_vars =['UID', 'code3', 'FIPS', 'Admin2','Province_State'], 
     value_vars =['1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20', '6/30/20', 
                  '7/31/20', '8/31/20', '9/30/20', '10/31/20', '11/30/20', '12/31/20',
                  '1/31/21', '2/28/21', '3/31/21', '4/30/21', '5/7/21'])

In [14]:
print(new_confirmed_dataframe)

            UID  code3     FIPS      Admin2 Province_State variable  value
0      84001001    840   1001.0     Autauga        Alabama  1/31/20      0
1      84001003    840   1003.0     Baldwin        Alabama  1/31/20      0
2      84001005    840   1005.0     Barbour        Alabama  1/31/20      0
3      84001007    840   1007.0        Bibb        Alabama  1/31/20      0
4      84001009    840   1009.0      Blount        Alabama  1/31/20      0
...         ...    ...      ...         ...            ...      ...    ...
56809  84056039    840  56039.0       Teton        Wyoming   5/7/21   3751
56810  84056041    840  56041.0       Uinta        Wyoming   5/7/21   2217
56811  84090056    840  90056.0  Unassigned        Wyoming   5/7/21      0
56812  84056043    840  56043.0    Washakie        Wyoming   5/7/21    911
56813  84056045    840  56045.0      Weston        Wyoming   5/7/21    651

[56814 rows x 7 columns]

In [15]:
new_deaths_dataframe = pd.melt(deaths_dataframe, 
     id_vars =['UID', 'Population'], 
     value_vars =['1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20', '6/30/20', 
                  '7/31/20', '8/31/20', '9/30/20', '10/31/20', '11/30/20', '12/31/20',
                  '1/31/21', '2/28/21', '3/31/21', '4/30/21', '5/7/21'])

In [16]:
print(new_deaths_dataframe)

            UID  Population variable  value
0      84001001       55869  1/31/20      0
1      84001003      223234  1/31/20      0
2      84001005       24686  1/31/20      0
3      84001007       22394  1/31/20      0
4      84001009       57826  1/31/20      0
...         ...         ...      ...    ...
56809  84056039       23464   5/7/21      9
56810  84056041       20226   5/7/21     13
56811  84090056           0   5/7/21      0
56812  84056043        7805   5/7/21     26
56813  84056045        6927   5/7/21      5

[56814 rows x 4 columns]

In [17]:
new_confirmed_dataframe.columns = ['uid', 'code3', 'fips', 'county', 'state', 'date', 'confirmed']

In [18]:
new_deaths_dataframe.columns = ['uid', 'population','date', 'deaths']

In [19]:
print(new_deaths_dataframe)

            uid  population     date  deaths
0      84001001       55869  1/31/20       0
1      84001003      223234  1/31/20       0
2      84001005       24686  1/31/20       0
3      84001007       22394  1/31/20       0
4      84001009       57826  1/31/20       0
...         ...         ...      ...     ...
56809  84056039       23464   5/7/21       9
56810  84056041       20226   5/7/21      13
56811  84090056           0   5/7/21       0
56812  84056043        7805   5/7/21      26
56813  84056045        6927   5/7/21       5

[56814 rows x 4 columns]

In [20]:
new_deaths_only_val = new_deaths_dataframe[['population', 'deaths']]

In [21]:
print(new_deaths_only_val)

       population  deaths
0           55869       0
1          223234       0
2           24686       0
3           22394       0
4           57826       0
...           ...     ...
56809       23464       9
56810       20226      13
56811           0       0
56812        7805      26
56813        6927       5

[56814 rows x 2 columns]

In [22]:
final_dataframe = new_confirmed_dataframe.join(new_deaths_only_val)

In [23]:
print(final_dataframe)

            uid  code3     fips      county    state     date  confirmed  \
0      84001001    840   1001.0     Autauga  Alabama  1/31/20          0
1      84001003    840   1003.0     Baldwin  Alabama  1/31/20          0
2      84001005    840   1005.0     Barbour  Alabama  1/31/20          0
3      84001007    840   1007.0        Bibb  Alabama  1/31/20          0
4      84001009    840   1009.0      Blount  Alabama  1/31/20          0
...         ...    ...      ...         ...      ...      ...        ...
56809  84056039    840  56039.0       Teton  Wyoming   5/7/21       3751
56810  84056041    840  56041.0       Uinta  Wyoming   5/7/21       2217
56811  84090056    840  90056.0  Unassigned  Wyoming   5/7/21          0
56812  84056043    840  56043.0    Washakie  Wyoming   5/7/21        911
56813  84056045    840  56045.0      Weston  Wyoming   5/7/21        651

       population  deaths
0           55869       0
1          223234       0
2           24686       0
3           22394       0
4           57826       0
...           ...     ...
56809       23464       9
56810       20226      13
56811           0       0
56812        7805      26
56813        6927       5

[56814 rows x 9 columns]

In [29]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@db/{db}"
                       .format(user="admin",
                               pw="admin123",
                               db="covid"))

In [30]:
# connection = pymysql.connect(host='db',
#                              user='admin',
#                              port=3306,
#                              password='admin123',
#                              database='covid',
#                              cursorclass=pymysql.cursors.DictCursor)

In [31]:
print(engine)

Engine(mysql+pymysql://admin:***@db/covid)

In [32]:
# Insert whole DataFrame into MySQL
final_dataframe.to_sql('covid_dataset', con = engine, if_exists = 'append', chunksize = 1000)