In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 1.6 MB/s eta 0:00:01     |█████████████▉                  | 4.2 MB 1.7 MB/s eta 0:00:04     |████████████████████▍           | 6.2 MB 1.1 MB/s eta 0:00:04     |██████████████████████▍         | 6.8 MB 1.1 MB/s eta 0:00:03     |██████████████████████████▌     | 8.0 MB 1.1 MB/s eta 0:00:02     |██████████████████████████▊     | 8.1 MB 1.1 MB/s eta 0:00:02   | 8.5 MB 1.1 MB/s eta 0:00:02     |████████████████████████████▊   | 8.7 MB 1.6 MB/s eta 0:00:01     |███████████████████████████████▎| 9.5 MB 1.6 MB/s eta 0:00:017 MB 1.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.2-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 3.6 kB/s eta 0:00:01    |█▍                              | 655 kB 2.2 MB/s eta 0:00:07     |█████████▋                      | 4.6 MB 925 kB/s eta 0:00:12     |████████████▍                   | 5.9 MB 925 kB/s eta 0:00:11
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.2 pandas-1.2.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 312 kB/s eta 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [6]:
print(c)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [9]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='db',
                             user='admin',
                             port=3306,
                             password='admin123',
                             database='covid',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
#     with connection.cursor() as cursor:
#         # Create a new record
#         sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
#         cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

#     # connection is not autocommit by default. So you must commit to save
#     # your changes.
#     connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM `covid_cases_by_region`"
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)

None

In [11]:
import pandas as pd
import io
import requests

In [13]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
content_url=requests.get(url).content
confirmed_dataframe=pd.read_csv(io.StringIO(content_url.decode('utf-8')))

In [14]:
print(confirmed_dataframe)

           UID iso2 iso3  code3     FIPS      Admin2 Province_State  \
0     84001001   US  USA    840   1001.0     Autauga        Alabama
1     84001003   US  USA    840   1003.0     Baldwin        Alabama
2     84001005   US  USA    840   1005.0     Barbour        Alabama
3     84001007   US  USA    840   1007.0        Bibb        Alabama
4     84001009   US  USA    840   1009.0      Blount        Alabama
...        ...  ...  ...    ...      ...         ...            ...
3337  84056039   US  USA    840  56039.0       Teton        Wyoming
3338  84056041   US  USA    840  56041.0       Uinta        Wyoming
3339  84090056   US  USA    840  90056.0  Unassigned        Wyoming
3340  84056043   US  USA    840  56043.0    Washakie        Wyoming
3341  84056045   US  USA    840  56045.0      Weston        Wyoming

     Country_Region        Lat       Long_  ... 4/25/21  4/26/21  4/27/21  \
0                US  32.539527  -86.644082  ...    6879     6882     6889
1                US  30.727750  -87.722071  ...   20847    20863    20875
2                US  31.868263  -85.387129  ...    2296     2296     2297
3                US  32.996421  -87.125115  ...    2584     2584     2588
4                US  33.982109  -86.567906  ...    6571     6574     6581
...             ...        ...         ...  ...     ...      ...      ...
3337             US  43.935225 -110.589080  ...    3719     3724     3725
3338             US  41.287818 -110.547578  ...    2158     2165     2173
3339             US   0.000000    0.000000  ...       0        0        0
3340             US  43.904516 -107.680187  ...     898      898      901
3341             US  43.839612 -104.567488  ...     648      648      648

      4/28/21  4/29/21  4/30/21  5/1/21  5/2/21  5/3/21  5/4/21
0        6890     6897     6904    6907    6909    6910    6910
1       20897    20921    20941   20966   20983   20993   20993
2        2298     2299     2300    2302    2302    2302    2302
3        2591     2593     2594    2596    2596    2597    2597
4        6595     6607     6613    6616    6619    6621    6621
...       ...      ...      ...     ...     ...     ...     ...
3337     3729     3730     3732    3732    3732    3739    3741
3338     2180     2181     2183    2183    2183    2195    2204
3339        0        0        0       0       0       0       0
3340      903      903      903     903     903     906     906
3341      649      650      650     650     650     651     651

[3342 rows x 480 columns]

In [18]:
column_array = confirmed_dataframe.columns

In [19]:
print(len(column_array))

480

In [20]:
print(column_array[0])

UID

In [ ]:
# 0,3,4,5,6 params
# 11-n dates

In [23]:
print(confirmed_dataframe[column_array[0]])

0       84001001
1       84001003
2       84001005
3       84001007
4       84001009
          ...
3337    84056039
3338    84056041
3339    84090056
3340    84056043
3341    84056045
Name: UID, Length: 3342, dtype: int64

In [33]:
df_column_info = confirmed_dataframe[['UID', 'code3', 'FIPS', 'Admin2', 'Province_State']]

In [40]:
df_column_date = confirmed_dataframe.iloc[: , 11:479]

In [43]:
print(df_column_info)

           UID  code3     FIPS      Admin2 Province_State
0     84001001    840   1001.0     Autauga        Alabama
1     84001003    840   1003.0     Baldwin        Alabama
2     84001005    840   1005.0     Barbour        Alabama
3     84001007    840   1007.0        Bibb        Alabama
4     84001009    840   1009.0      Blount        Alabama
...        ...    ...      ...         ...            ...
3337  84056039    840  56039.0       Teton        Wyoming
3338  84056041    840  56041.0       Uinta        Wyoming
3339  84090056    840  90056.0  Unassigned        Wyoming
3340  84056043    840  56043.0    Washakie        Wyoming
3341  84056045    840  56045.0      Weston        Wyoming

[3342 rows x 5 columns]

In [41]:
print(df_column_date)

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
0           0        0        0        0        0        0        0        0
1           0        0        0        0        0        0        0        0
2           0        0        0        0        0        0        0        0
3           0        0        0        0        0        0        0        0
4           0        0        0        0        0        0        0        0
...       ...      ...      ...      ...      ...      ...      ...      ...
3337        0        0        0        0        0        0        0        0
3338        0        0        0        0        0        0        0        0
3339        0        0        0        0        0        0        0        0
3340        0        0        0        0        0        0        0        0
3341        0        0        0        0        0        0        0        0

      1/30/20  1/31/20  ...  4/24/21  4/25/21  4/26/21  4/27/21  4/28/21  \
0           0        0  ...     6876     6879     6882     6889     6890
1           0        0  ...    20838    20847    20863    20875    20897
2           0        0  ...     2296     2296     2296     2297     2298
3           0        0  ...     2582     2584     2584     2588     2591
4           0        0  ...     6570     6571     6574     6581     6595
...       ...      ...  ...      ...      ...      ...      ...      ...
3337        0        0  ...     3719     3719     3724     3725     3729
3338        0        0  ...     2158     2158     2165     2173     2180
3339        0        0  ...        0        0        0        0        0
3340        0        0  ...      898      898      898      901      903
3341        0        0  ...      648      648      648      648      649

      4/29/21  4/30/21  5/1/21  5/2/21  5/3/21
0        6897     6904    6907    6909    6910
1       20921    20941   20966   20983   20993
2        2299     2300    2302    2302    2302
3        2593     2594    2596    2596    2597
4        6607     6613    6616    6619    6621
...       ...      ...     ...     ...     ...
3337     3730     3732    3732    3732    3739
3338     2181     2183    2183    2183    2195
3339        0        0       0       0       0
3340      903      903     903     903     906
3341      650      650     650     650     651

[3342 rows x 468 columns]

In [84]:
final_dataframe = pd.DataFrame(columns=['uid', 'code3', 'fips', 'county', 'state', 'date', 'confirmed'])
# for i in range(5):
#     df = df.append({'A': i, 'B': i}, ignore_index=True)

In [88]:
df_column_info.shape[0]

3342

In [89]:
df_column_date.shape[1]

468

In [90]:
print(df_column_date.shape[1]*df_column_info.shape[0])

1564056

In [82]:
for i in range(df_column_info.shape[0]):
#     print(df_column_info.iloc[i,:][0])
    for j in range(df_column_date.shape[1]):
        final_dataframe = final_dataframe.append({
            'uid':df_column_info.iloc[i,:][0],
            'code3':df_column_info.iloc[i,:][1],
            'fips':df_column_info.iloc[i,:][2],
            'county':df_column_info.iloc[i,:][3],
            'state':df_column_info.iloc[i,:][4],
            'date':df_column_date.columns[j],
            'confirmed':df_column_date.iloc[i,j]
        },ignore_index=True)

In [85]:
print(final_dataframe)

Empty DataFrame
Columns: [uid, code3, fips, county, state, date, confirmed]
Index: []